name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  packages: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.17.0

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build dependencies
        run: helm dep build .

      - name: Lint
        run: helm lint .

      - name: Package chart
        run: helm package .

      - name: Push chart to GHCR
        run: helm push umbrella-owl-*.tgz oci://ghcr.io/wisbric/charts
